/* header banner */
.banner {
  height: 120px;
  background-image: url("../img/pattern.png");
  background-repeat: repeat-x;
  background-position: top;
  background-size: 25%;
  background-color: rgb(62, 126, 185);
}

.logo {
  position: absolute;
  padding-left: 25px;
  top: 10px;
  left: 20px;
  color: white;
  font-size: 28px;
  font-weight: bold;
  line-height: 1.1;
  font-family: "Averia Libre", system-ui;
}
.logo1 {
  position: absolute;
  top: 10px;
  left: 20px;
  color: white;
  font-size: 40px;
  font-weight: bold;
  line-height: 1.1;
  font-family: "Averia Libre", system-ui;
}