/* header banner */
.banner {
  height: 120px;
  background-image: url("../img/pattern.png");
  background-repeat: repeat-x;
  background-position: top;
  background-size: 23%;
  background-color: rgb(62, 126, 185);
}

.logo {
  position: absolute;
  padding-left: 25px;
  padding-top: 25px;
  top: 10px;
  left: 20px;
  color: white;
  font-size: 28px;
  font-weight: bold;
  line-height: 1.1;
  font-family: "Averia Libre", system-ui;
}
.logo1 {
  position: absolute;
  top: 10px;
  left: 20px;
  color: white;
  font-size: 40px;
  font-weight: bold;
  line-height: 1.1;
  font-family: "Averia Libre", system-ui;
  padding-top: 25px;
}
/* fine banner */

.byline {
  margin: 0 0 12px 0;
  font-size: 14px;
  color: #333;
}

/* credit foto */
.photo-credits {
  font-size: 12px;
  color: #222;
  margin: 6px 0 10px 0;
}

/* highlight testo */
.highlight {
  background: #fffd7a;
  padding: 0 2px;
}

/* tabella con header blu e righe alternate */
.info-table {
  width: 100%;
  border-collapse: collapse;
  margin: 12px 0;
  font-size: 14px;
}

.info-table thead th {
  background: #1e90c9;
  color: white;
  padding: 10px;
  text-align: left;
  font-weight: 700;
}
.info-table td {
  padding: 10px;
  border: 1px solid #cfeefc;
  vertical-align: top;
}
.info-table tbody tr:nth-child(odd) td {
  background: #8fcce5;
}
.info-table tbody tr:nth-child(even) td {
  background: #ffffff;
}

/* area "Potrebbero interessarti" */
.related {
  margin-top: 18px;
}
.related h4 {
  font-size: 16px;
  color: #666;
  margin-bottom: 8px;
}

/* riquadro immagine + titolo*/
.caption-box {
  width: 160px;
  margin-bottom: 14px;
  border: none;
  position: relative;
}
.caption-box img {
  width: 160px;
  height: 100px;
  object-fit: cover;
  display: block;
  position: absolute;
}
.thumb-title {
  color: #fff;
  font-weight: 700;
  padding: 8px 6px;
  font-size: 14px;
  position: absolute;

}

.caption-box2 {
  width: 160px;
  margin-bottom: 40px;
  border: none;
  position: relative;
  padding-top: 100px;
}
.caption-box2 img {
  width: 160px;
  height: 100px;
  object-fit: cover;
  display: block;
  position: absolute;
}